.SearchResults {
  flex: 1 1 auto;
  overflow: hidden;
}

.SearchResults__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.SearchResults__result {
  flex: 0 0 25%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .SearchResults__result {
    flex: 0 0 33%;
  }
}

@media screen and (max-width: 800px) {
  .SearchResults__result {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 480px) {
  .SearchResults__list {
    display: block;
  }
}

.SearchResults__pagination {
  padding: 16px;
  text-align: center;
}

.SearchResults__empty {
  padding: 64px;
  text-align: center;
  color: #888;
  line-height: 36px;
}
