@import 'https://fonts.googleapis.com/css?family=Work+Sans';

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --brand-color: #a58a4d;
  --brand-color-darker: #736136;
}

.button {
  appearance: none;
  padding: 8px 16px;
  background: var(--brand-color);
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  outline: 0;
}

.button.--large {
  padding: 16px 32px;
}

.button:focus,
.button:hover {
  background: var(--brand-color-darker);
  color: #ffffff;
}

.button:disabled {
  background: var(--brand-color);
  color: #ffffff;
  opacity: 0.5;
}
